{% extends "base.html" %}

{% block content %}
<style type="text/css">

    #jacket, .main-header {
        background-color: white;
    }

    .main-header { 
        font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    }

    .site-name {
        font-size: 32px;
        letter-spacing: -1px;
        line-height: 32px;
    }

    .sub-name {
        color: #464E54;
        font-size: 25px;
        text-transform: uppercase;
    }

    h1, .link {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    .contents {
        background-color: beige;
        border: 1px solid lightgrey;
        margin: 0 auto;
        width: 55%;
    }

    .contents p {
        padding-top: 10px;
        padding-left: 10px;
    }

</style>

<div class="instructor_main">
	<a href="{{ url_for('logout') }}">Log out</a>
	<h1 class="subheader">{{ current_user.firstname }}'s Profile</h1>

	<div class="contents">
		<div><p>First Name: {{ current_user.firstname }}  </p></div>
		<div><p>Last Name: {{ current_user.lastname }}  </p></div>
		<div><p>Email: {{ current_user.email }}  </p></div>
		<div><p>ID: {{ current_user.wsuid }}  </p></div>
		<div><p>Phone#: {{ current_user.phone}}  </p></div>
		<p><a href="{{ url_for('edit_instructor') }}">Click to Edit Profile!</a></p>
	</div>
</div>

<p class="link">
    <a href="{{ url_for('edit_student') }}">Edit Profile</a>
</p>


{% endblock %}